body {

	background-color: #D57725;





}




#container-fluid{

	width: 90%;
	border-radius: 10px;
	background-color: #D47F2A
	text-align: left;
	padding-left: 20px;



}


#letters a{
	color: white;
	background-color: orange;
	border-radius: 5px; 
	paddin: 5px;  
	cursor: crosshair;

}

#buttons{
    padding: 50px 10px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    		border-color: pink;
    }


h2 {
	font-style: normal;
	font-size: 30px;
	border-style: dotted;
	border-color: blue;



}





